.highlight{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    background-color: dodgerblue;
    padding-left: 5%;
}

.none{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
}
